<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/0d327672cc.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
<body class="home">
    <header class="home__header">
        <div>
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
        <input type="text" placeholder="Buscar pruducto">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p><i class="fa-solid fa-hand-holding-dollar"></i> <b>Comprá en cuotas y sin tarjeta de crédito</b></p>
        <nav class="home__header--menu">
            <ul type="none">
                <li><a href="/"></a></li>
                <li><a href="https://www.mercadolibre.com/jms/mla/lgz/msl/login/H4sIAAAAAAAEAzWNwQ6DIBBE_2XORO8c-yNkxUVJQciyFhvjvzem8TiZeW9OpLLEzem3Miz4qCn6qDCoiTQUyS7OsMgJBi0qP5HuCQllVpYGe96ihecXhyK3KlBqDAPadXUhlQ77_4JBbI4PZdkouc7TJ_LdPsRSYLGq1mbHsfc-ZBZPc0lxEh58yQPJiMsgUFOnQv4Nq7Lz9QPgW333zgAAAA/user" target="_blank">Ofertas</a></li>
                <li><a href="https://www.mercadolibre.com.ar/c/ropa-y-accesorios#nav-header" target="_blank">Tiendas Oficiales</a></li>
                <li><a href="https://www.mercadolibre.com/jms/mla/lgz/msl/login/H4sIAAAAAAAEAzWNQY7DIBAE_9JnZN855htRhMYwOGgHYw3jkCjK3yPvao_d6qp-Q9patmCvneHRWQQOu5DlpjWUBI96Vr0Y_0c6J6RU2Vg7_PuUrJwunJuemkzSGQ502D1kaQP-7wcOpQd-GutGEgYvj8ID_hdwWBs87mZ79_M8xpgqa6TUpCzKU2x1Ip33Y5ESSfFxyNQtmFL8gTc92CFxlLJxgr_ePl-1_Ab93gAAAA/notregistered" target="_blank">Vender</a></li>
                <li><a href="https://www.mercadolibre.com.ar/ayuda#nav-header" target="_blank">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="home__header--menu">
            <ul type="none">
                <li><a href="https://www.mercadolibre.com.ar/hub/registration/landing#nav-header" target="_blank">Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                <li><a href="https://www.mercadolibre.com/jms/mla/lgz/msl/login/H4sIAAAAAAAEAzWNwQ6DIBBE_2XORO8c-yNkxUVJQciyFhvjvzem8TiZeW9OpLLEzem3Miz4qCn6qDCoiTQUyS7OsMgJBi0qP5HuCQllVpYGe96ihecXhyK3KlBqDAPadXUhlQ77_4JBbI4PZdkouc7TJ_LdPsRSYLGq1mbHsfc-ZBZPc0lxEh58yQPJiMsgUFOnQv4Nq7Lz9QPgW333zgAAAA/user" target="_blank">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="https://www.mercadolibre.com/jms/mla/lgz/msl/login/H4sIAAAAAAAEAzWNQarDMAxE7zJrk-y97EWM6siJ-XJsJKVtKL17CZ8uh5n35g3pa92Tn4MRwa8hNVdHwBDy0rWluiCiCQKsOv8iXRNSauyshvi-RCsvNy5dL1UhMUYAHb6lIv2J-P-FgGqJX866k6Qn3x-Vr_ZHrB0Rm_uwOM_tpJz7sfvUWDMtXepdecq9TaRzO9M4NG9kbLNUc3wCCpknV8p_iK4Hf74ZcyDg5QAAAA/user" target="_blank">Mis Compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="buttom">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main class="home__main">
        <section class="home__main__section">
            <h2><b>Basado en tu última visita</b></h2>
            <article>
                <div>
                    <ul type="none">
                        <li><img src="/images/img-cafetera-moulinex.jpg" width="320"  alt="Cafetera"></li>
                        <li class="precio">$6.770</li>
                        <li class="descuento">40% OFF</li>
                        <li class="descripcion">Cafetera Moulinex</li>
                    </ul>
                </div>
            </article>
            <article>
                <div>
                    <ul type="none">
                        <li><img src="/images/img-macbook-pro-2019.jpg" width="320"  alt="MacBook"></li>
                        <li class="precio"> $230.000</li>
                        <li class="descuento">20% off</li>
                        <li class="descripcion">MacBook Pro 2019</li>
                    </ul>
                </div>
            </article>
            <article>
                <div>
                    <ul type="none">
                        <li><img src="/images/img-samsung-galaxy-s10.jpg" width="320"  alt="galaxy s10"></li>
                        <li class="precio"> $70.500</li>
                        <li class="descuento"> 10% off</li>
                        <li class="descripcion">Samsung Galaxy S10</li>
                    </ul>
                </div>
            </article>
            <article>
                <div>
                    <ul type="none">
                        <li><img src="/images/img-tv-samsung-smart.jpg" width="320"  alt="SmartTv"></li>
                        <li class="precio"> $23.200</li>
                        <li class="descuento">5% off</li>
                        <li class="descripcion">SmartTv Samsung 43"</li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="home__main__section">
            <h2><b>Sección de Ofertas</b></h2>
            <article>
                <div>
                <ul type="none">
                    <li><img src="/images/img-cafetera-moulinex.jpg" width="320"  alt="Cafetera"></li>
                    <li class="precio">$6.770</li>
                    <li class="descuento">40% off</li>
                    <li class="descripcion">Cafetera Moulinex</li>
                </ul>
            </div>
            </article>
            <article>
                <div>
                    <ul type="none">
                        <li><img src="/images/img-macbook-pro-2019.jpg" width="320"  alt="MacBook"></li>
                        <li class="precio">$230.000</li>
                        <li class="descuento">20% off</li>
                        <li class="descripcion">MacBook Pro 2019</li>
                    </ul>
                </div>
            </article>
            <article>
                <div>
                    <ul type="none">
                        <li><img src="/images/img-samsung-galaxy-s10.jpg" width="320"  alt="galaxy s10"></li>
                        <li class="precio">$70.500</li>
                        <li class="descuento"> 10% off</li>
                        <li class="descripcion">Samsung Galaxy S10</li>
                    </ul>
                </div>
            </article>
            <article>
                <div>
                    <ul type="none">
                        <li><img src="/images/img-tv-samsung-smart.jpg" width="320"  alt="SmartTv"></li>
                        <li class="precio">$23.200</li>
                        <li class="descuento">5% off</li>
                        <li class="descripcion">SmartTv Samsung 43"</li>
                    </ul>
                </div>
            </article>
        </section>
    </main>
    <footer class="home__footer">
        <section class="home__footer__section">
            <span>
                <i class="fa-solid fa-credit-card"></i>
            </span>
            <h3><b>Pagá con tarjeta o en efectivo</b></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="home__footer__section">
            <span>
                <i class="fa-solid fa-gift"></i>
            </span>
            <h3><b>Envío gratis desde $ 2.500</b></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="home__footer__section">
            <span>
                <i class="fa-solid fa-user-shield"></i>
            </span>
            <h3><b>Seguridad, de principio a fin</b></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="home__footer__section--copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>

