/* HEADER */
header{
    background-color: #EAC926;
    padding-bottom: 10px;
}

.header--div{
    width: 40%;
    height: 10%;
}

.header-div img {
    margin-top: 20px;
    margin-left: 10px; 
}

.header-div-form {
    margin-left: 10px;
}

.header-p {
    text-align: center;
}

.header-menu ul {
    margin-left: 0px;
    list-style-type:none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.burger-menu {
    text-align: center;
}

.fas {
    padding: 9px 9px;
    color: white;
    background-color:  #1259c3; 
    border-radius: 5px;
}

/* MAIN */
.main-section-article {
    width: 100%;
}

.main-section{
    font-size:  24px;
}
.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
} 

/* FOOTER */

footer {
    text-align: center;
}

.header-div {
    color:#1259c3 ;
    margin-bottom: 10px;
    font-size: 2em;
}

.footer-section { 
    margin-bottom: 0%;
}

.footer_section_p{ 
    margin-top: 2px;
}



.ultimo_p { 
    margin-top: 50px;
}